{% extends "base.html" %}

{% block blog_main %}
<div class="blog-list">
  {% if not blog_list %}
    <p>not any blog now</p>
  {% else %}
    {% for blog in blog_list %}
    <div class="blog">
      <h2><a href="/detail/{{ blog.key.urlsafe() }}">{{ blog.title }}</a></h2>
      <h4>{{ blog.create_time }}</h4>
      <div>{{ blog.content }}</div>
    </div>
    <hr/>
    {% endfor %}
  {% endif %}
</div>

<!-- /page -->
<ul class="pager">
  <li class="previous"><a href="#">&larr; 更新的博客</a></li>
  <li class="next"><a href="#">更早的博客 &rarr;</a></li>
</ul>
<!-- /page -->
{% endblock blog_main %}
