/* @ global
 * ------------------------------------------------------------- */



/* @ global reset
 * -------------------------------------------------------------  */
body {
  margin: 0;
  padding: 0;
}
a, a:link, a:visited {
	color: blue;
  text-decoration: none;
}

a:focus, a:hover {
  color: green;
  text-decoration: underline;
}

ul, ol {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}


/* @ others
 *---------------------------------------------------------- */
ul.nav {
  /*width: 8em;*/
  /*background-color: #888;*/
  padding: 0.2em 0.3em;
  /*float: left;*/
  /*padding:0.3em 0;*/
}
ul a {
  display: block;
  background-color: #eee;
  padding: 0.5em 0.3em;
  /*text-align: center;*/
}

ul.bar {
  width: 920px;
  margin: 20px auto;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

ul.bar a {
  padding: 0.6em 0.3em;
  width: 18%;
  float: left;
}

.contain {
  width: 100em;
  margin: 0 auto;
}

.header {
  background-color: #eee;
  height: 120px;
}

.main {
  background-color: #eee;
  margin-top: 30px;
  overflow: hidden;
}

.footer {
  background-color: #eee;
  height: 100px;
  margin-top: 30px;
}
.sidebar {
  width: 17%;
  margin:10px 20px;
  float: right;
  background-color: #fff;
  height: 500px;
}
.content {
  width: 72%;
  margin:10px 20px;
  height: 500px;
  float: left;
  background-color: #fff;
}
