<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %} hackrole's blog{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  {% block main %}
	<div class="container">
    {% block title %}
      {% include "title.html" %}
    {% endblock %}
    <!-- /title -->

    {% block content %}
		<div id="content" class="row-fliod">
      {% block content_main %}
      <div class="span9 main">
        <h2>Main content Section</h2>
      </div>
      {% endblock %}
      <!-- /main -->

      {% block sidebar %}
        {% include "sidebar.html" %}
      {% endblock %}
      <!-- /sidebar -->
		</div>
    {% endblock %}
	</div>
  {% endblock %}
  <script src="js/jquery_1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
