<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>pub blog form page</h1>
    <form action="" method="post" name="pub-form">
        <input type="text" placeholder="分类名" required="" name="cate_name" />
        <input type="text" name="tags_name" />
        <input type="text" name="title" />
        <input type="checkbox" name="update" />是否更新
        <textarea id="blog" name="blog" cols="30" rows="10"></textarea>
        <input type="submit" value="发布"/>
    </form>
</body>
</html>
